.title {
    text-align: center;
    font-size: 48px; 
    margin-bottom: 100px;
    margin-top: 100px;

}

.article {
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 100px;
}

.first {
    width: 100vw;
    height: 100vh;
}

.force {
    width: 100vw;
}

.sankey {
    /* width: 100vw; */
}

