.switch {
  position: absolute;
  left: 50%;
  /* width: 480px; */
  margin: 0 -240px;
  display: flex;

  /* padding: 0 1px; */
}
.switch:before {
    width: 100%;
    height: 50px;
    background: #000;
    border-radius: 30px;

    content: " ";
    position: absolute;
    z-index: -1;
    height: 50px;
    margin: 0px auto;
}
.switch__label {
    color: #999;
    z-index: 100;
    display: inline-block;
    width: 160px;
    height:  50px;
    line-height:50px;
    margin: auto;
    padding: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
}
.switch__label:hover {
    color: white;
}
.switch__indicator {
    opacity: 0%;
    z-index: 10;
    width: 160px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    background: rgb(102, 255, 194);
    border-radius: 60px;
    -webkit-transition: background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
    transition: background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
}
.switch input#C5_Modal:checked ~ .switch__indicator {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.switch input#C6_Modal:checked ~ .switch__indicator {
    -webkit-transform: translate3d(160px, 0, 0);
    transform: translate3d(160px, 0, 0);
}
.switch input#C7_Modal:checked ~ .switch__indicator {
    -webkit-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
}
.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
    display: none;
}





form {
    position: relative;
    width: 18rem;
    margin-top: 8vh;
}

.chosen-value,
.value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
}

.chosen-value {
    font-family: "微軟正黑體";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: rgb(102, 255, 194);
    border: 3px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-align: center;
    border-radius: 15px;
}
.chosen-value::-webkit-input-placeholder {
    color: #DDD;
}
.chosen-value:hover {
    background-color: rgb(102, 255, 194);
    cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
    color: #DDD;
}
.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: rgb(102, 255, 194);
  color: #000;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
  color: #000;
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.value-list.open {
  max-height: 320px;
  overflow: auto;
}
.value-list li {
  position: relative;
  height: 4rem;
  /* background-color: #fafcfd; */
  padding: 1rem;
  font-size: 1.1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  opacity: 1;
}
.value-list li:hover {
  background-color: rgb(102, 255, 194);
  color: black;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

