.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 2px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}
 
.link:hover {
  stroke: #66ffc2;
  stroke-opacity: .7;
}

div#title_text {
	font-family: "微軟正黑體", Consolas;
  color: #000;
}

div#sankey_container {
  position: relative;
  
}

div#node_text_container {
 	position: absolute;
  left: calc(50% + 200px);
  width: 150px;
  	/*top: 100px;
  	margin-left: 1200px;

  	padding: 10px;
  	background-color: #577C8A;
  	border-radius: 10px;
  	
  	width: 500px;*/
	
	font-family: "微軟正黑體", Consolas;
	font-size: 24px; 
}

div#link_text_container {
	 position: absolute;
  left: calc(50% + 350px);
  width: 150px;

  	/*top: 450px;
  	margin-left: 1200px;
  	
  	padding: 10px;
  	background-color: #577C8A;
  	border-radius: 10px;

  	width: 500px;*/

   
	font-family: "微軟正黑體", Consolas;
	font-size: 24px;
}



div#sankey_diagram {
  position: absolute;
  left: 200px;
    width: 50%;
}