.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 2px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}
 
.link:hover {
  stroke: #66ffc2;
  stroke-opacity: .7;
}

div#title_text {
	font-family: "微軟正黑體", Consolas;
  color: #000;
}

div#sankey_container {
  position: relative;
  
}

div#node_text_container {
 	position: absolute;
  left: calc(50% + 210px);
  width: 25%;
  height: 240px;
  top: 260px ;
  margin: 10px;
  padding: 10px;
  background-color: #313131;
  border-radius: 15px;
  border: 3px solid #66ffc2;
	
	font-family: "微軟正黑體", Consolas;
	font-size: 16px; 
}

div#link_text_container {
	position: absolute;
  left: calc(50% + 210px);
  width: 25%;
  height: 240px;
  top: 0px;
  margin: 10px;
  padding: 10px;
  background-color: #313131;
  border-radius: 15px;
  border: 3px solid #66ffc2;
	font-family: "微軟正黑體", Consolas;
	font-size: 16px;
}



div#sankey_diagram {
  position: absolute;
  left: 200px;
  width: 50%;
}